/* Noto Sans */

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 100;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Thin.woff") format("woff"),
    url("../fonts/NotoSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 200;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Light.woff") format("woff"),
    url("../fonts/NotoSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 300;
  font-style: normal;
  src:
    url("../fonts/NotoSans-DemiLight.woff") format("woff"),
    url("../fonts/NotoSans-DemiLight.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Regular.woff") format("woff"),
    url("../fonts/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Black.woff") format("woff"),
    url("../fonts/NotoSans-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 900;
  font-style: normal;
  src:
    url("../fonts/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSans-Bold.woff2") format("woff2");
}

/* Pretendard */

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Thin.woff2") format("woff2"),
    url("../fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-ExtraLight.woff2") format("woff2"),
    url("../fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Light.woff2") format("woff2"),
    url("../fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Medium.woff2") format("woff2"),
    url("../fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("../fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../fonts/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Pretendard-Black.woff2") format("woff2"),
    url("../fonts/Pretendard-Black.woff") format("woff");
}

/* Pyeojin Gothic */

@font-face {
  font-family: "PyeojinGothic";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Light.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Light.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Regular.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Regular.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Medium.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Medium.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Semibold.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Semibold.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Bold.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Bold.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Extrabold.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Extrabold.woff") format("woff");
}
@font-face {
  font-family: "PyeojinGothic";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/PyeojinGothic-Black.woff2") format("woff2"),
    url("../fonts/PyeojinGothic-Black.woff") format("woff");
}
